@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700&subset=latin,cyrillic);
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: Ubuntu;
  font-weight: 300;
  line-height: 1.4;
  background-color: #24292e;
  background-image: url(https://desktop.github.com/images/star-bg.svg),linear-gradient(#191c20, #24292e 15%);
  background-size: cover;
  background-repeat: no-repeat;
}

h2 {
  font-weight: 300;
  font-size: 3em;
  line-height: 1.2;
  margin: 0 0 30px;
}
h2 strong {
  font-weight: 700;
  display: block;
}

.cards {
  width: 768px;
  height: 550px;
  margin: auto;
  background-color: lightyellow;
  position: relative;
  border-radius: 7px;
}

.card-control {
  display: none;
}
.card-control:checked + .card {
  -webkit-clip-path: circle(270% at 50px 88%);
          clip-path: circle(270% at 50px 88%);
  z-index: 500;
  transition: -webkit-clip-path 2s ease;
  transition: clip-path 2s ease;
  transition: clip-path 2s ease, -webkit-clip-path 2s ease;
}
.card-control:checked + .card .col--right {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 10% 5%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 7px;
  overflow: hidden;
  -webkit-clip-path: circle(20px at 50px 90%);
          clip-path: circle(20px at 50px 90%);
  transition: -webkit-clip-path 0s 1s;
  transition: clip-path 0s 1s;
  transition: clip-path 0s 1s, -webkit-clip-path 0s 1s;
  z-index: 300;
  box-sizing: border-box;
}
.card--dribbble {
  color: #fff;
  background-color: #F46899;
  -webkit-clip-path: circle(0 at 65px 90%);
          clip-path: circle(0 at 65px 90%);
}
.card--vk {
  color: #fff;
  background-color: #4E729A;
  -webkit-clip-path: circle(0 at 145px 90%);
          clip-path: circle(0 at 145px 90%);
}
.card--twitter {
  color: #fff;
  background-color: #7FD0ED;
  -webkit-clip-path: circle(0 at 225px 90%);
          clip-path: circle(0 at 225px 90%);
}
.card--codepen {
  color: #fff;
  background-color: #27ae60;
  -webkit-clip-path: circle(0 at 305px 90%);
          clip-path: circle(0 at 305px 90%);
}

.col {
  max-width: 50%;
}
.col--right {
  padding-top: 60px;
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  transition: .4s ease .2s;
}

.main-nav {
  position: absolute;
  bottom: 5%;
  left: 5%;
  z-index: 1000;
  width: 70%;
}
.main-nav__item {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: .3s ease;
}
.main-nav__item.active, .main-nav__item:hover {
  color: white;
  border-color: white;
}
.scd-nav {
  position: absolute;
  bottom: 5%;
  right: 5%;
  z-index: 1000;
}
.scd-nav__item {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: .3s ease;
}
.scd-nav__item.active, .scd-nav__item:hover {
  color: white;
  border-color: white;
}
.btn {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #fff;
  border-radius: 7px;
  color: inherit;
  text-decoration: none;
}
.btn:hover {
  opacity: .5;
}
.btnt {
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #fff;
  border-radius: 7px;
  text-decoration: none;
  font-weight: bold;
}
.btnt:hover {
  opacity: .5;
}
@media screen and (max-width:720px) {
h2 {
    font-size: 2.1em;
}
}
@media screen and (max-width:500px) {
body {
    font-size: 15px;
}
h2 {
    font-size: 1.9em;
}
}
@media screen and (max-width:425px) {
body {
    font-size: 14px;
}
h2 {
    font-size: 1.7em;
}
}
@media screen and (max-width:380px) {
h2 {
    font-size: 1.5em;
}
}
@media screen and (max-width:310px) {
body {
    font-size: 13px;
}
}
